{{photoSets.length}}
<div>
	<div class="photo-set" ng-class="{created:pSet.state}" ng-repeat="pSet in photoSets">
		<a ng-click="displaySet(pSet)" href="">
			<h2>{{pSet.title}}</h2>
		</a>
		<div ng-show="pSet.expanded">
			<table>
				<thead>
					<tr>
						<td>title</td>
						<td>local</td>
						<td>hosted</td>
						<td>synced</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="photo in photos[pSet.set_id]">
						<td>{{photo.title}}</td>
						<td><img ng-src="{{photo.local_src}}" width="100px"/></td>
						<td><img ng-src="{{photo.hosted_src}}" width="100px"/></td>
						<td>{{photo.synced}}</td>
					</tr>
				</tbody>
			
			</table>
		</div>
	</div>
</div>